*{
    background: #F3F5Fc;
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 32px;
    line-height: 150%;
    overflow: hidden;
    
}
header{
    display: flex;
}
.logo{
    padding-top: 1.5em;
    margin-left: 1em; 
    width: 10%;
    height: 5%;
}
.redessoci{
    background-color: #ffffff;
    display: flex;
    border-radius: 2em;
    margin-top: 1em;
    margin-left: 25em;
    margin-bottom: 1em;
    width: 10em;
    box-shadow: 1em .5em .5em #888888;
}
.socialgit{
    padding-top: .8em;
    margin-left: 1em; 
    width: 3em;
}
.socialtwi{
    padding-top: .8em;
    margin-left: 2em; 
    width: 3.5em;
}
main{
    display: flex;
    margin-bottom: 5em;
    margin-left: 5em;
    width: 100%;
    height: auto;
}
.text-area{
    border: none;
    color: #0a3871;
    text-transform: lowercase;
    width: 15em;
    height: 13em;
    resize: none;
}
.mensaje{
    background-color: #ffffff;
    background-image: url("Recursos/Muneco2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: none;
    border-radius: 2em;
    color: #0a3871;
    margin-left: 3em;
    padding-left: em;
    position: fixed;
    width: 15em;
    height: 13em;
    resize: none;
    box-shadow: 1em 1em .5em #888888;
}
.mensaje:focus{
    outline: none;
}
::placeholder{ 
    color: #0a3871; 
}
.text-area:focus{
    outline:none
}
.botones{
    display: flex;
    margin: auto;
}
.btn-encriptar{
    background-color: #0a3871;
    border: 1px solid darkblue;
    border-radius: 2em;
    color: #d8dfe8;
    cursor: pointer;
    height: auto;
    margin-left: 1em;
    width: 50%;
}
.btn-desencriptar{
    background-color: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 2em;
    color: darkblue;
    cursor: pointer;
    height: auto;
    margin-left: .5em;
    width: 50%;
}
.copiar{
    position: absolute;
    margin-top: 15em;
    margin-left: 5em;
}
.bnt-copiar{
    background-color: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 2em;
    color: darkblue;
    cursor: pointer;
    height: auto;
    margin-left: 0em;
    width: 10em;
}
